### crea un dataframe con los resultados de la EDA para cada uno de los anios

In [59]:
import pandas as pd

In [60]:
years = range(2013,2022)

df_columns_names = pd.DataFrame()

for y in years:
    df_datos = pd.read_csv(f"datos\datos-{y}.csv", sep= ";", encoding='latin-1')
    df_columns_names[y] = df_datos.columns

df_columns_names

,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,CÓDIGO ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO SUPERIOR
1,NOME ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR
2,CÓDIGO ÓRGÃO,CÓDIGO ÓRGÃO,CÓDIGO ÓRGÃO,CÓDIGO ÓRGÃO,CÓDIGO ÓRGÃO,CÓDIGO ÓRGÃO,CÓDIGO ÓRGÃO,CÓDIGO ÓRGÃO,CÓDIGO ÓRGÃO
3,NOME ÓRGÃO,NOME ÓRGÃO,NOME ÓRGÃO,NOME ÓRGÃO,NOME ÓRGÃO,NOME ÓRGÃO,NOME ÓRGÃO,NOME ÓRGÃO,NOME ÓRGÃO
4,CÓDIGO UNIDADE GESTORA,CÓDIGO UNIDADE GESTORA,CÓDIGO UNIDADE GESTORA,CÓDIGO UNIDADE GESTORA,CÓDIGO UNIDADE GESTORA,CÓDIGO UNIDADE GESTORA,CÓDIGO UNIDADE GESTORA,CÓDIGO UNIDADE GESTORA,CÓDIGO UNIDADE GESTORA
5,NOME UNIDADE GESTORA,NOME UNIDADE GESTORA,NOME UNIDADE GESTORA,NOME UNIDADE GESTORA,NOME UNIDADE GESTORA,NOME UNIDADE GESTORA,NOME UNIDADE GESTORA,NOME UNIDADE GESTORA,NOME UNIDADE GESTORA
6,CATEGORIA ECONÔMICA,CATEGORIA ECONÔMICA,CATEGORIA ECONÔMICA,CATEGORIA ECONÔMICA,CATEGORIA ECONÔMICA,CATEGORIA ECONÔMICA,CATEGORIA ECONÔMICA,CATEGORIA ECONÔMICA,CATEGORIA ECONÔMICA
7,ORIGEM RECEITA,ORIGEM RECEITA,ORIGEM RECEITA,ORIGEM RECEITA,ORIGEM RECEITA,ORIGEM RECEITA,ORIGEM RECEITA,ORIGEM RECEITA,ORIGEM RECEITA
8,ESPÉCIE RECEITA,ESPÉCIE RECEITA,ESPÉCIE RECEITA,ESPÉCIE RECEITA,ESPÉCIE RECEITA,ESPÉCIE RECEITA,ESPÉCIE RECEITA,ESPÉCIE RECEITA,ESPÉCIE RECEITA
9,DETALHAMENTO,DETALHAMENTO,DETALHAMENTO,DETALHAMENTO,DETALHAMENTO,DETALHAMENTO,DETALHAMENTO,DETALHAMENTO,DETALHAMENTO
10,VALOR PREVISTO ATUALIZADO,VALOR PREVISTO ATUALIZADO,VALOR PREVISTO ATUALIZADO,VALOR PREVISTO ATUALIZADO,VALOR PREVISTO ATUALIZADO,VALOR PREVISTO ATUALIZADO,VALOR PREVISTO ATUALIZADO,VALOR PREVISTO ATUALIZADO,VALOR PREVISTO ATUALIZADO
11,VALOR LANÇADO,VALOR LANÇADO,VALOR LANÇADO,VALOR LANÇADO,VALOR LANÇADO,VALOR LANÇADO,VALOR LANÇADO,VALOR LANÇADO,VALOR LANÇADO
12,VALOR REALIZADO,VALOR REALIZADO,VALOR REALIZADO,VALOR REALIZADO,VALOR REALIZADO,VALOR REALIZADO,VALOR REALIZADO,VALOR REALIZADO,VALOR REALIZADO
13,PERCENTUAL REALIZADO,PERCENTUAL REALIZADO,PERCENTUAL REALIZADO,PERCENTUAL REALIZADO,PERCENTUAL REALIZADO,PERCENTUAL REALIZADO,PERCENTUAL REALIZADO,PERCENTUAL REALIZADO,PERCENTUAL REALIZADO
14,DATA LANÇAMENTO,DATA LANÇAMENTO,DATA LANÇAMENTO,DATA LANÇAMENTO,DATA LANÇAMENTO,DATA LANÇAMENTO,DATA LANÇAMENTO,DATA LANÇAMENTO,DATA LANÇAMENTO
15,ANO EXERCÍCIO,ANO EXERCÍCIO,ANO EXERCÍCIO,ANO EXERCÍCIO,ANO EXERCÍCIO,ANO EXERCÍCIO,ANO EXERCÍCIO,ANO EXERCÍCIO,ANO EXERCÍCIO

#### Con el loop anterior, podemos ver que todas las columnas son del mismo tipo

## Ahora vamos a explorar si hay datos nulos

In [61]:
years = range(2013,2022)

df_info_isna = pd.DataFrame()

for y in years:
    df_datos = pd.read_csv(f"datos\datos-{y}.csv", sep= ";", encoding='latin-1')
    df_info_isna[y] = df_datos.isna().sum()

df_info_isna

,2013,2014,2015,2016,2017,2018,2019,2020,2021
CÓDIGO ÓRGÃO SUPERIOR,0,0,0,0,0,0,0,0,0
NOME ÓRGÃO SUPERIOR,0,0,0,0,0,0,0,0,0
CÓDIGO ÓRGÃO,0,0,0,0,0,0,0,0,0
NOME ÓRGÃO,0,0,0,0,0,0,0,0,0
CÓDIGO UNIDADE GESTORA,0,0,0,0,0,0,0,0,0
NOME UNIDADE GESTORA,0,0,0,0,0,0,0,0,0
CATEGORIA ECONÔMICA,0,0,0,0,0,0,0,0,0
ORIGEM RECEITA,0,0,0,0,0,0,0,0,0
ESPÉCIE RECEITA,0,0,0,0,0,0,0,0,0
DETALHAMENTO,0,0,0,0,0,0,0,0,0
VALOR PREVISTO ATUALIZADO,0,0,0,0,0,0,0,0,0
VALOR LANÇADO,0,0,0,0,0,0,0,0,0
VALOR REALIZADO,0,0,0,0,0,0,0,0,0
PERCENTUAL REALIZADO,0,0,0,0,0,0,0,0,0
DATA LANÇAMENTO,0,0,0,82,86,115,86,86,123
ANO EXERCÍCIO,0,0,0,0,0,0,0,0,0

#### Con lo anterior, sabemos que la columnas de DATA LANCAMENTO tiene nulos a partir de 2016

In [62]:
import pandas as pd

years = range(2013, 2022)
df_info_type = pd.DataFrame()

info_dict = {}  ## no logro meter el resultado de datainfo en un dataframe, pero si puedo hacerlo en un diccionario

for y in years:
    df_datos = pd.read_csv(f"datos/datos-{y}.csv", sep=";", encoding='latin-1')
    info_dict[y] = {
        'column_names': df_datos.columns.tolist(),
        'data_types': df_datos.dtypes.tolist()}

# Despues puedo convertir el diccionario en un dataframeexplorar el diccionario columna a columna y ver si el tipo de datos para cada anio es el mismo
for year, sub_dict in info_dict.items():
    for key, value in sub_dict.items():
        print(value[15])

ANO EXERCÍCIO
int64
ANO EXERCÍCIO
int64
ANO EXERCÍCIO
int64
ANO EXERCÍCIO
int64
ANO EXERCÍCIO
int64
ANO EXERCÍCIO
int64
ANO EXERCÍCIO
int64
ANO EXERCÍCIO
int64
ANO EXERCÍCIO
int64

#### Despues de revisar los tipos de datos anteriores, todo parece correcto y todas las columnas tienen el mismo tipo de dato.

### Visto todo lo anterior, me dispongo a unir el dataframe

In [63]:
#https://stackoverflow.com/questions/11479392/what-does-a-for-loop-within-a-list-do-in-python  buscando como hacer el loop mas eficiente

year = range(2013, 2022)

lista_df = [pd.read_csv(f"datos/datos-{y}.csv", sep=";", encoding='latin-1') for y in year]

df_all = pd.concat(lista_df, axis=0)  ## concat admite una lista de dataframes

df_all.columns

Index(['CÓDIGO ÓRGÃO SUPERIOR', 'NOME ÓRGÃO SUPERIOR', 'CÓDIGO ÓRGÃO',
       'NOME ÓRGÃO', 'CÓDIGO UNIDADE GESTORA', 'NOME UNIDADE GESTORA',
       'CATEGORIA ECONÔMICA', 'ORIGEM RECEITA', 'ESPÉCIE RECEITA',
       'DETALHAMENTO', 'VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO',
       'VALOR REALIZADO', 'PERCENTUAL REALIZADO', 'DATA LANÇAMENTO',
       'ANO EXERCÍCIO'],
      dtype='object')

In [65]:
## https://www.statology.org/pandas-rename-columns-with-dictionary/

## Renombrar columnas del dataframe df_all

column_translation_dict = {
 'CÓDIGO ÓRGÃO SUPERIOR': 'codigo_organo_superior',
 'NOME ÓRGÃO SUPERIOR': 'nombre_organo_superior',
 'CÓDIGO ÓRGÃO': 'codigo_organo',
 'NOME ÓRGÃO': 'nombre_organo',
 'CÓDIGO UNIDADE GESTORA': 'codigo_unidad_gestora',
 'NOME UNIDADE GESTORA': 'nombre_unidad_gestora',
 'CATEGORIA ECONÔMICA': 'categoria_economica',
 'ORIGEM RECEITA': 'origen_receta',
 'ESPÉCIE RECEITA': 'especie_receta',
 'DETALHAMENTO': 'detallamiento',
 'VALOR PREVISTO ATUALIZADO': 'valor_previsto_actualizado',
 'VALOR LANÇADO': 'valor_lanzado',
 'VALOR REALIZADO': 'valor_realizado',
 'PERCENTUAL REALIZADO': 'percentual_realizado',
 'DATA LANÇAMENTO': 'fecha_lanzamiento',
 'ANO EXERCÍCIO': 'ano_ejercicio'
}



#define dictionary
#rename columns in DataFrame using dictionary

df_all.rename(columns=column_translation_dict, inplace=True)

df_all.columns

df_all.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1026299 entries, 0 to 134592
Data columns (total 16 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   codigo_organo_superior      1026299 non-null  int64
 1   nombre_organo_superior      1026299 non-null  object
 2   codigo_organo               1026299 non-null  int64
 3   nombre_organo               1026299 non-null  object
 4   codigo_unidad_gestora       1026299 non-null  int64
 5   nombre_unidad_gestora       1026299 non-null  object
 6   categoria_economica         1026299 non-null  object
 7   origen_receta               1026299 non-null  object
 8   especie_receta              1026299 non-null  object
 9   detallamiento               1026299 non-null  object
 10  valor_previsto_actualizado  1026299 non-null  object
 11  valor_lanzado               1026299 non-null  object
 12  valor_realizado             1026299 non-null  object
 13  percentual_realizado        1026299 non-null  object
 14  fecha_lanzamiento           1025721 non-null  object
 15  ano_ejercicio               1026299 non-null  int64
dtypes: int64(4), object(12)
memory usage: 133.1+ MB

## Revisar las columnas, tipos de datos

In [67]:
#df_all.isna().sum()

df_all.info()

#null_mask = df_all.isnull().any(axis=1)
#null_rows = df_all[null_mask]

#print(null_rows)
## https://stackoverflow.com/questions/8420143/valueerror-could-not-convert-string-to-float-id

df_all["valor_previsto_actualizado"] = [float(str(i).replace(",", ".")) for i in df_all["valor_previsto_actualizado"]]
df_all['valor_previsto_actualizado'] = df_all['valor_previsto_actualizado'].astype('float')


df_all["valor_realizado"] = [float(str(i).replace(",", ".")) for i in df_all["valor_realizado"]]
df_all['valor_realizado'] = df_all['valor_realizado'].astype('float')

df_all["valor_lanzado"] = [float(str(i).replace(",", ".")) for i in df_all["valor_lanzado"]]
df_all['valor_lanzado'] = df_all['valor_lanzado'].astype('float')


df_all["percentual_realizado"] = [float(str(i).replace(",", ".")) for i in df_all["percentual_realizado"]]
df_all['percentual_realizado'] = df_all['percentual_realizado'].astype('float')

df_all['ano_ejercicio'] = df_all['ano_ejercicio'].astype('int')

df_all['fecha_lanzamiento'] = pd.to_datetime(df_all['fecha_lanzamiento'], format="%d/%m/%Y")

#df_porcentaje_uniques = df_all['PORCENTAJE REALIZADO'].unique()
#df_porcentaje_uniques

df_all.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1026299 entries, 0 to 134592
Data columns (total 16 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   codigo_organo_superior      1026299 non-null  int64
 1   nombre_organo_superior      1026299 non-null  object
 2   codigo_organo               1026299 non-null  int64
 3   nombre_organo               1026299 non-null  object
 4   codigo_unidad_gestora       1026299 non-null  int64
 5   nombre_unidad_gestora       1026299 non-null  object
 6   categoria_economica         1026299 non-null  object
 7   origen_receta               1026299 non-null  object
 8   especie_receta              1026299 non-null  object
 9   detallamiento               1026299 non-null  object
 10  valor_previsto_actualizado  1026299 non-null  float64
 11  valor_lanzado               1026299 non-null  float64
 12  valor_realizado             1026299 non-null  float64
 13  percentual_realizado        1026299 non-null  float64
 14  fecha_lanzamiento           1025721 non-null  datetime64[ns]
 15  ano_ejercicio               1026299 non-null  int32
dtypes: datetime64[ns](1), float64(4), int32(1), int64(3), object(7)
memory usage: 129.2+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 1026299 entries, 0 to 134592
Data columns (total 16 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   codigo_organo_superior      1026299 non-null  int64
 1   nombre_organo_superior      1026299 non-null  object
 2   codigo_organo               1026299 non-null  int64
 3   nombre_organo               1026299 non-null  object
 4   codigo_unidad_gestora       1026299 non-null  int64
 5   nombre_unidad_gestora       1026299 non-null  object
 6   categoria_economica         1026299 non-null  object
 7   origen_receta               1026299 non-null  object
 8   especie_receta              1026299 non-null  object
 9   detallamiento               1026299 non-null  object
 10  valor_previsto_actualizado  1026299 non-null  float64
 11  valor_lanzado               1026299 non-null  float64
 12  valor_realizado             1026299 non-null  float64
 13  percentual_realizado        1026299 non-null  float64
 14  fecha_lanzamiento           1025721 non-null  datetime64[ns]
 15  ano_ejercicio               1026299 non-null  int32
dtypes: datetime64[ns](1), float64(4), int32(1), int64(3), object(7)
memory usage: 129.2+ MB

## Revisar los nulos

In [1]:
df_porcentaje_uniques = df_all['fecha_lanzamiento'].unique()
df_porcentaje_uniques

df_nulos_anio = df_all.fecha_lanzamiento.isnull().groupby([df_all['ano_ejercicio']]).sum().astype(int).reset_index(name='count')
print(df_nulos_anio)

df_total_anio = df_all.groupby(['ano_ejercicio'])['ano_ejercicio'].count()
print(df_total_anio)

NameError: name 'df_all' is not defined